<div class="form-icon">
      <!-- Your form icon content here -->
</div>
    <div class="form-group">
      <input
        type="text"
        class="form-control item"
        id="first_name"
        name="first_name"
        placeholder="First Name"
        value="{{this.first_name}}"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control item"
        id="last_name"
        name="last_name"
        placeholder="Last Name"
        value="{{this.last_name}}"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        class="form-control item"
        id="email"
        name="email"
        placeholder="Email"
        value="{{this.email}}"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="tel"
        class="form-control item"
        id="phone"
        name="phone"
        placeholder="Phone Number"
        value="{{this.phone}}"
        required
      />
    </div>
    <div class="form-group">
      <textarea
        class="form-control"
        id="comments"
        name="comments"
        rows="5"
        placeholder="Type your comment here..."
        required
      >{{this.comments}}</textarea>
    </div>